# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/

# Flask settings
instance/
.webassets-cache

# Environment variables file
.env

# VS Code settings
.vscode/

# macOS
.DS_Store

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
var/
wheels/
share/python-wheels/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Docker
*.log
docker-compose.override.yml
