__pycache__/
*.py[cod]
*$py.class

env/
venv/

instance/
.webassets-cache

.env

.vscode/

.DS_Store

*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
var/
wheels/
share/python-wheels/
*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

*.log
docker-compose.override.yml

employees.db
