<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Extension</th>
            <th>Title</th>
            <th>Department</th>
            <th>Reports To</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees if employee.local %}
        <tr>
            <td>{{ employee.displayName }}</td>
            <td>{{ employee.workPhoneExtension }}</td>
            <td>{{ employee.jobTitle }}</td>
            <td>{{ employee.department }}</td>
            <td>{{ employee.supervisor }}</td>
            <td>
                <form action="{{ url_for('delete_employee', employee_id=employee.id) }}" method="post" style="display: inline;">
                    <button class="delete-button" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
